# Image-Recovery Files
/Image-Recovery/Image-Recovery/cmake-build-debug/
/Image-Recovery/Image-Recovery/CMakeLists.txt.user
/Image-Recovery/build-Image-Recovery-Desktop_Qt_6_2_0_GCC_64bit-Debug/
/Image-Recovery/.idea/

# Rent-A-Car Files
/Rent-A-Car/src/.idea/