# Image-Recovery Files
/Image-Recovery/cmake-build-debug/
/Image-Recovery/.idea/.gitignore
/Image-Recovery/.idea/misc.xml
/Image-Recovery/.idea/modules.xml
/Image-Recovery/.idea/vcs.xml
/Image-Recovery/.idea/workspace.xml

# Rent-A-Car Files
/Rent-A-Car/cmake-build-debug/
/Rent-A-Car/.idea/.gitignore
/Rent-A-Car/.idea/misc.xml
/Rent-A-Car/.idea/modules.xml
/Rent-A-Car/.idea/vcs.xml
/Rent-A-Car/.idea/workspace.xml
