# Image-Recovery Files
/Image-Recovery/Image-Recovery/cmake-build-debug/
/Image-Recovery/Image-Recovery/CMakeLists.txt.user
/Image-Recovery/build-Image-Recovery-Desktop_Qt_6_2_0_GCC_64bit-Debug/
/Image-Recovery/.idea/

# Rent-A-Car Files
/Rent-A-Car/cmake-build-debug/
/Rent-A-Car/.idea/.gitignore
/Rent-A-Car/.idea/misc.xml
/Rent-A-Car/.idea/modules.xml
/Rent-A-Car/.idea/vcs.xml
/Rent-A-Car/.idea/workspace.xml
